<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Web</title>

    {{!-- LLAMAR A LOS ARCHIVOS CSS Y JS DE BOOTSTRAP --}}

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script defer src="/bootstrap/js/bootstrap.bundle.js"></script>

    {{!-- LLAMAR JQUERY --}}

    <script defer src="/jquery/jquery.min.js"></script>

    {{!-- FONT AWESOME --}}

    <script src="https://kit.fontawesome.com/54701f1efc.js" crossorigin="anonymous"></script>


</head>
<body>
    
    {{> navbar}}

    <main class="container py-3">
    
        {{{body}}}

    </main>

</body>
</html>